body 
{
    background-color: #121212;
}

main
{
    color: #b5b5b5;
    margin-right: 15vw;
    margin-left: 15vw;
}

nav
{
    background-color: #052442a2;
    overflow: hidden;
    height: 7.5vh;
    align-content: center;
    align-items: center;
}

nav > a
{
    display: block;
    float: left;
    text-align: center;
    padding: 2vh 6vw;
    text-decoration: none;
    font-size: 18px;
    color: #b5b5b5;
}

nav > a:hover
{
    background-color: #111111;
}

nav > a.active
{
    background-color: #b7c6ca;
    color: #111111;
}


.song-embed
{
    width:70%;
    height: 25vw;
    margin: auto;
    margin-top: 5vh;
    display: block;
}

