body {
    background-color: #121212;
}

.main-text
{
    color: #b5b5b5;
    margin-right: 15vw;
    margin-left: 15vw;
}

.song-embed
{
    width:70%;
    height: 25vw;
    margin: auto;
    display: block;
}

